<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Schweizer Edelmetallhandel</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#CC950C">
    <meta name="msapplication-navbutton-color" content="#CC950C">
    <meta name="apple-mobile-web-app-status-bar-style" content="#CC950C">
</head>
<body>

${require('../parts/header.html')}
<main class="main">
    <div class="section main-section">
        <div class="main-left">
            <div class="main-slider slick-slider" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "fade": true, "autoplay": true, "arrows": true, "prevArrow": ".main-slider__prev", "nextArrow": ".main-slider__next", "dots": true, "appendDots": ".main-slider__dots", "infinite": true}'>
                <div class="slide">
                    <picture class="main-slider__pic">
                        <source media="(max-width: 574px)" srcset="../../images/pixel.jpg" data-original="../../images/banner1__mob.jpg" class="lazy-web" type="image/jpg">
                        <source srcset="../../images/pixel.jpg" data-original="../../images/banner1.jpg" class="lazy-web" type="image/jpg">
                        <img src="../../images/pixel.jpg" data-original="../../images/banner1.jpg" class="lazy" alt="">
                    </picture>
                    <div class="main-slider__descr">
                        Die besten Preise für Ihr Altgold in der Schweiz erhalten
                    </div>
                </div>
                <div class="slide">
                    <picture class="main-slider__pic">
                        <source media="(max-width: 574px)" srcset="../../images/pixel.jpg" data-original="../../images/banner1__mob.jpg" class="lazy-web" type="image/jpg">
                        <source srcset="../../images/pixel.jpg" data-original="../../images/banner1.jpg" class="lazy-web" type="image/jpg">
                        <img src="../../images/pixel.jpg" data-original="../../images/banner1.jpg" class="lazy" alt="">
                    </picture>
                    <div class="main-slider__descr">
                        Die besten Preise für Ihr Altgold in der Schweiz erhalten
                    </div>
                </div>
                <div class="slide">
                    <picture class="main-slider__pic">
                        <source media="(max-width: 574px)" srcset="../../images/pixel.jpg" data-original="../../images/banner1__mob.jpg" class="lazy-web" type="image/jpg">
                        <source srcset="../../images/pixel.jpg" data-original="../../images/banner1.jpg" class="lazy-web" type="image/jpg">
                        <img src="../../images/pixel.jpg" data-original="../../images/banner1.jpg" class="lazy" alt="">
                    </picture>
                    <div class="main-slider__descr">
                        Die besten Preise für Ihr Altgold in der Schweiz erhalten
                    </div>
                </div>
            </div>
            <div class="main-slider__dots"></div>
            <div class="main-slider__nav">
                <div class="main-slider__arrow main-slider__prev">
                    <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="31" y1="23" x2="14" y2="23" stroke="#CC950C"/>
                        <path d="M12 23L18 27L18 19L12 23Z" fill="#CC950C"/>
                        <circle cx="22.5" cy="22.5" r="22" transform="rotate(-180 22.5 22.5)" stroke="#CC950C"/>
                    </svg>
                </div>
                <div class="main-slider__arrow main-slider__next">
                    <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="14" y1="23" x2="31" y2="23" stroke="#CC950C"/>
                        <path d="M33 23L27 19L27 27L33 23Z" fill="#CC950C"/>
                        <circle cx="22.5" cy="22.5" r="22" stroke="#CC950C"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="main-right">
        </div>
        <div class="container">
            <div class="main-left__container"></div>
            <div class="main-right__container">
                <span class="main-right__title">Kostenlos Versandtasche bestellen</span>
                <form class="main-form ajax_form clear-styles" data-error-title="Fehler senden!" data-error-message="Versuchen Sie es nach einer Weile erneut." data-success-title="Danke für die Nachricht." data-success-message="Unser Manager wird sich bald mit Ihnen in Verbindung setzen.">
                    <div class="form-row two-inputs lg">
                        <div class="input-wrapper">
                            <input class="input" type="text" name="name" data-title="Name" data-validate-required="Erforderlich!">
                            <label>Name <span>*</span></label>
                        </div>
                        <div class="input-wrapper">
                            <input class="input" type="text" name="vorname" data-title="Vorname" data-validate-required="Erforderlich!">
                            <label>Vorname <span>*</span></label>
                        </div>
                    </div>
                    <div class="form-row two-inputs sm">
                        <div class="input-wrapper">
                            <input class="input" type="text" name="strasse" data-title="Strasse" data-validate-required="Erforderlich!">
                            <label>Strasse <span>*</span></label>
                        </div>
                        <div class="input-wrapper">
                            <input class="input" type="text" name="nr" data-title="Nr." data-validate-required="Erforderlich!">
                            <label>Nr.<span>*</span></label>
                        </div>
                    </div>
                    <div class="form-row three-inputs">
                        <div class="input-wrapper">
                            <input class="input" type="text" name="plz" data-title="PLZ" data-validate-required="Erforderlich!">
                            <label>PLZ <span>*</span></label>
                        </div>
                        <div class="input-wrapper">
                            <input class="input" type="text" name="stadt" data-title="Stadt" data-validate-required="Erforderlich!">
                            <label>Stadt <span>*</span></label>
                        </div>
                        <div class="input-wrapper">
                            <input class="input" type="text" name="telefon" data-title="Telefon">
                            <label>Telefon</label>
                        </div>
                    </div>
                    <div class="form-row two-inputs lg">
                        <div class="input-wrapper">
                            <input class="input" type="text" name="email" data-title="E-mail" data-validate-required="Erforderlich!">
                            <label>E-mail <span>*</span></label>
                        </div>
                        <div class="input-wrapper select-wrapper required-select">
                            <input name="boxgrösse" data-title="Boxgrösse" data-validate-required="Erforderlich!" hidden>
                            <select class="select">
                                <option selected disabled>Boxgrösse</option>
                                <option value="bis 2kg">bis 2kg</option>
                                <option value="bis 10kg">bis 10kg</option>
                                <option value="bis 30kg">bis 30kg</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-wrapper">
                            <textarea class="textarea" name="anmerkungen" data-title="Anmerkungen" placeholder="Anmerkungen"></textarea>
                        </div>
                    </div>
                    <div class="form-footer">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="agreement01">
                            <label for="agreement01">Hiermit akzeptiere ich die Verarbeitung meiner Daten im Sinne der <a href="javascript:void(0)">Datenschutzerklärung.</a></label>
                        </div>
                        <button type="submit" class="btn">Versandtasche bestellen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="section calc-section">
        <div class="container">
            <div class="row calc-wrap">
                <div class="col-md-6">
                    <div class="calc-left">
                        <span class="calc-left__title">Ankaufs-Rechner</span>
                        <span class="calc-left__date">Ankaufspreise Stand: 12.06.2022 16:55</span>
                        <span class="calc-left__descr">Geben Sie einfach in die Tabelle die Gewichte Ihrer Edelmetalle ein und Ihr Gesamtankaufswert wird automatisch berechnet.</span>
                        <div class="row calc-main__wrapper">
                            <div class="col-md-6">
                                <div class="calc-main calc-main__left">
                                    <div class="calc-main__head">
                                        Gold Je gr
                                    </div>
                                    <div class="calc-main__row">
                                        <span>999er Feingold handelsfähig</span>
                                        <span>57.32 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row light">
                                        <span>999er Feingold</span>
                                        <span>55.82 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row">
                                        <span>916er Gold</span>
                                        <span>51.13 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row light">
                                        <span>900er Gold</span>
                                        <span>50.24 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row">
                                        <span>750er Gold</span>
                                        <span>41.87 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row light">
                                        <span>585er Gold</span>
                                        <span>32.66 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row">
                                        <span>333er Gold</span>
                                        <span>18.59 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row light">
                                        <span>Zahngold (ohne Zahnreste)</span>
                                        <span>31.62 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="calc-main calc-main__right">
                                    <div class="calc-main__head">
                                        Silber Je gr
                                    </div>
                                    <div class="calc-main__row">
                                        <span>999er Feinsilber gestempelt</span>
                                        <span>0.70 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row light">
                                        <span>925er silber</span>
                                        <span>0.58 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row">
                                        <span>800er silber</span>
                                        <span>0.51 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row dark">
                                        Versilbert Je kg
                                    </div>
                                    <div class="calc-main__row">
                                        <span>Versilbert 90/100...</span>
                                        <span>21.70 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row light">
                                        <span>Versilberte Messer</span>
                                        <span>4.38 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row medium">
                                        <span>ZINN (zinngeschirr) je kg</span>
                                        <span>7.25 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row bot">
                                        Wir kaufen auch Platin und Palladium
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="calc-main__bot">
                                    <div class="calc-main__footnote">
                                        <div>Kommen Sie gerne <span>mit termin</span> im Ladengeschäft vorbei.</div>
                                    </div>
                                    <div class="calc-main__footer">
                                        <span>Ihr Erlös:</span>
                                        <div>
                                            <span class="calc-main__total">0.00</span> CHF
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="calc-right">
                        <div class="row calc-right__wrap">
                            <div class="col-md-6">
                                <div class="calc-right__title-wrap">
                                    <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M25.9405 0.790797L29.7342 17.6145L39.6508 3.50452L34.5243 19.9711L50.1673 12.7098L37.4944 24.4071L54.6723 25.9401L37.8486 29.7338L51.9585 39.6503L35.4919 34.5239L42.7533 50.1669L31.056 37.494L29.523 54.6718L25.7293 37.8481L15.8127 51.9581L20.9392 35.4915L5.2962 42.7528L17.9691 31.0555L0.791235 29.5225L17.6149 25.7289L3.50496 15.8123L19.9716 20.9387L12.7102 5.29576L24.4075 17.9687L25.9405 0.790797Z" fill="#CC950C"/>
                                    </svg>
                                    <div>Uhren Ankauf</div>
                                    <span>Machen Sie Ihre Luxusuhren schnell zu Geld.</span>
                                </div>
                                <div class="calc-right__watch-wrap">
                                    <img src="../../images/watch.png" class="lazy" alt="">
                                    <span>Wir kaufen auch reparaturreife Uhren</span>
                                    <a href="javascript:void(0)" class="btn btn-tr">mehr erfahren</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="calc-right__chart-wrap">
                                    <img src="../../images/chart.jpg" class="lazy" alt="">
                                </div>
                                <div class="calc-right__contact-wrap">
                                    <div>Unser Team freut sich auf Ihre Kontaktaufnahme</div>
                                    <span>Sie können Ihre Wertgegenstände persönlich vorbeibringen oder per Post zusenden</span>
                                    <a href="javascript:void(0)" class="btn">Kontakt</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--${require('../parts/consult.html')}-->
</main>
${require('../parts/footer.html')}

</body>
</html>
