<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Schweizer Edelmetallhandel</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#CC950C">
  <meta name="msapplication-navbutton-color" content="#CC950C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#CC950C">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main">
      <div class="section investment-section">
          <div class="container">
              <div class="investment-title">Anlagegold</div>
              <div class="investment-wrapper">
                  <div class="investment-main">
                      <div class="investment-head">
                          <div class="investment-left">
                              <div class="img"></div>
                              <div class="investment-mid">
                                  <div class="bar">BARREN</div>
                                  <div class="gold">GOLDPREIS</div>
                                  <div class="facon">FACONKOSTEN</div>
                                  <div class="price">BARRENPREIS</div>
                              </div>
                          </div>
                          <div class="investment-right"></div>
                      </div>
                      <div class="investment-body">
                          <div class="investment-item">
                              <div class="investment-left">
                                  <div class="img">
                                      <img src="../../images/gold-01.png" class="lazy" alt="">
                                  </div>
                                  <div class="investment-mid">
                                      <div class="bar">1 g. Heraeus Goldbarren</div>
                                      <div class="gold">
                                          <span>GOLDPREIS</span>
                                          <span>57.32 CHF</span>
                                      </div>
                                      <div class="facon">
                                          <span>FACONKOSTEN</span>
                                          <span>15,00 CHF</span>
                                      </div>
                                      <div class="price">
                                          <span>BARRENPREIS</span>
                                          <span>73,45 CHF</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="investment-right">
                                  <span class="btn btn-tr popup-btn" data-mfp-src="#investment-popup">Anfrage senden</span>
                              </div>
                          </div>
                          <div class="investment-item">
                              <div class="investment-left">
                                  <div class="img">
                                      <img src="../../images/gold-02.png" class="lazy" alt="">
                                  </div>
                                  <div class="investment-mid">
                                      <div class="bar">500 g. Heraeus Goldbarren</div>
                                      <div class="gold">
                                          <span>GOLDPREIS</span>
                                          <span>29.144,50 CHF</span>
                                      </div>
                                      <div class="facon">
                                          <span>FACONKOSTEN</span>
                                          <span>66,50 CHF</span>
                                      </div>
                                      <div class="price">
                                          <span>BARRENPREIS</span>
                                          <span>29.211,00 CHF</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="investment-right">
                                  <span class="btn btn-tr popup-btn" data-mfp-src="#investment-popup">Anfrage senden</span>
                              </div>
                          </div>
                          <div class="investment-item">
                              <div class="investment-left">
                                  <div class="img">
                                      <img src="../../images/gold-03.png" class="lazy" alt="">
                                  </div>
                                  <div class="investment-mid">
                                      <div class="bar">1 kg. Heraeus Goldbarren</div>
                                      <div class="gold">
                                          <span>GOLDPREIS</span>
                                          <span>58.289,00 CHF</span>
                                      </div>
                                      <div class="facon">
                                          <span>FACONKOSTEN</span>
                                          <span>100,00 CHF</span>
                                      </div>
                                      <div class="price">
                                          <span>BARRENPREIS</span>
                                          <span>58.389,00 CHF</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="investment-right">
                                  <span class="btn btn-tr popup-btn" data-mfp-src="#investment-popup">Anfrage senden</span>
                              </div>
                          </div>
                          <div class="investment-item">
                              <div class="investment-left">
                                  <div class="img">
                                      <img src="../../images/gold-01.png" class="lazy" alt="">
                                  </div>
                                  <div class="investment-mid">
                                      <div class="bar">1 g. Heraeus Goldbarren</div>
                                      <div class="gold">
                                          <span>GOLDPREIS</span>
                                          <span>57.32 CHF</span>
                                      </div>
                                      <div class="facon">
                                          <span>FACONKOSTEN</span>
                                          <span>15,00 CHF</span>
                                      </div>
                                      <div class="price">
                                          <span>BARRENPREIS</span>
                                          <span>73,45 CHF</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="investment-right">
                                  <span class="btn btn-tr popup-btn" data-mfp-src="#investment-popup">Anfrage senden</span>
                              </div>
                          </div>
                          <div class="investment-item">
                              <div class="investment-left">
                                  <div class="img">
                                      <img src="../../images/gold-02.png" class="lazy" alt="">
                                  </div>
                                  <div class="investment-mid">
                                      <div class="bar">500 g. Heraeus Goldbarren</div>
                                      <div class="gold">
                                          <span>GOLDPREIS</span>
                                          <span>29.144,50 CHF</span>
                                      </div>
                                      <div class="facon">
                                          <span>FACONKOSTEN</span>
                                          <span>66,50 CHF</span>
                                      </div>
                                      <div class="price">
                                          <span>BARRENPREIS</span>
                                          <span>29.211,00 CHF</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="investment-right">
                                  <span class="btn btn-tr popup-btn" data-mfp-src="#investment-popup">Anfrage senden</span>
                              </div>
                          </div>
                          <div class="investment-item">
                              <div class="investment-left">
                                  <div class="img">
                                      <img src="../../images/gold-03.png" class="lazy" alt="">
                                  </div>
                                  <div class="investment-mid">
                                      <div class="bar">1 kg. Heraeus Goldbarren</div>
                                      <div class="gold">
                                          <span>GOLDPREIS</span>
                                          <span>58.289,00 CHF</span>
                                      </div>
                                      <div class="facon">
                                          <span>FACONKOSTEN</span>
                                          <span>100,00 CHF</span>
                                      </div>
                                      <div class="price">
                                          <span>BARRENPREIS</span>
                                          <span>58.389,00 CHF</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="investment-right">
                                  <span class="btn btn-tr popup-btn" data-mfp-src="#investment-popup">Anfrage senden</span>
                              </div>
                          </div>
                          <div class="investment-item">
                              <div class="investment-left">
                                  <div class="img">
                                      <img src="../../images/gold-01.png" class="lazy" alt="">
                                  </div>
                                  <div class="investment-mid">
                                      <div class="bar">1 g. Heraeus Goldbarren</div>
                                      <div class="gold">
                                          <span>GOLDPREIS</span>
                                          <span>57.32 CHF</span>
                                      </div>
                                      <div class="facon">
                                          <span>FACONKOSTEN</span>
                                          <span>15,00 CHF</span>
                                      </div>
                                      <div class="price">
                                          <span>BARRENPREIS</span>
                                          <span>73,45 CHF</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="investment-right">
                                  <span class="btn btn-tr popup-btn" data-mfp-src="#investment-popup">Anfrage senden</span>
                              </div>
                          </div>
                          <div class="investment-item">
                              <div class="investment-left">
                                  <div class="img">
                                      <img src="../../images/gold-02.png" class="lazy" alt="">
                                  </div>
                                  <div class="investment-mid">
                                      <div class="bar">500 g. Heraeus Goldbarren</div>
                                      <div class="gold">
                                          <span>GOLDPREIS</span>
                                          <span>29.144,50 CHF</span>
                                      </div>
                                      <div class="facon">
                                          <span>FACONKOSTEN</span>
                                          <span>66,50 CHF</span>
                                      </div>
                                      <div class="price">
                                          <span>BARRENPREIS</span>
                                          <span>29.211,00 CHF</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="investment-right">
                                  <span class="btn btn-tr popup-btn" data-mfp-src="#investment-popup">Anfrage senden</span>
                              </div>
                          </div>
                          <div class="investment-item">
                              <div class="investment-left">
                                  <div class="img">
                                      <img src="../../images/gold-03.png" class="lazy" alt="">
                                  </div>
                                  <div class="investment-mid">
                                      <div class="bar">1 kg. Heraeus Goldbarren</div>
                                      <div class="gold">
                                          <span>GOLDPREIS</span>
                                          <span>58.289,00 CHF</span>
                                      </div>
                                      <div class="facon">
                                          <span>FACONKOSTEN</span>
                                          <span>100,00 CHF</span>
                                      </div>
                                      <div class="price">
                                          <span>BARRENPREIS</span>
                                          <span>58.389,00 CHF</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="investment-right">
                                  <span class="btn btn-tr popup-btn" data-mfp-src="#investment-popup">Anfrage senden</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="investment-chart">
                      <a href="javascript:void(0)" class="calc-right__chart-wrap" rel="nofollow" target="_blank">
                          <img src="../../images/chart.jpg" class="lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
