<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Schweizer Edelmetallhandel</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#CC950C">
    <meta name="msapplication-navbutton-color" content="#CC950C">
    <meta name="apple-mobile-web-app-status-bar-style" content="#CC950C">
</head>

<body>
${require('../parts/header.html')}
<main class="main">
    <div class="product-buying">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="product-buying__desc">
                        <span class="page__title">Diamanten Ankauf in der Schweiz</span>
                        <div class="product-buying__desc-about">
                            <p>Die Einteilung in einzelne Klassen bei Edelsteinen, Brillanten und Diamanten ist eng
                                gesteckt und die Übergänge häufig fließend. Zudem sind hochprofessionelle Gerätschaften
                                nötig. Diese und ein hohes Maß an Kompetenz und jahrelange Erfahrung führen dazu, dass
                                Ihr Stein geschätzt und der Preis ermittelt werden kann.
                            </p>
                            <p>Kriterien für die Werterkennung sind die Dichte des Steins, die Härte, Lichtstreuung und
                                -Brechung, der Glanz und die Warmleitfähigkeit. Auch Einschlüsse im Stein werden zur
                                Bewertung in Betracht gezogen. Wir vom Schweizer Edelmetallhandel bringen die nötige
                                Expertise mit, um diese Kriterien in Ihrem Interesse objektiv zu bewerten und Ihnen
                                somit eine faire Offerte für Ihren Diamanten Verkauf zu machen.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="product-buying__right">
                        <div class="product-buying__inner">
                            <div class="product-buying__pic">
                                <picture>
                                    <source srcset="../../images/pixel.webp"
                                            data-original="../../images/product-01.webp" class="lazy-web"
                                            type="image/webp">
                                    <source srcset="../../images/pixel.png" data-original="../../images/product-01.png"
                                            class="lazy-web" type="image/png">
                                    <img src="../../images/pixel.png" data-original="../../images/product-01.png"
                                         class="lazy" alt="">
                                </picture>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-tr">Zum Ankaufsrechner</a>
                        </div>
                        <div class="product-buying__inner">
                            <div class="product-buying__pic">
                                <picture>
                                    <source srcset="../../images/pixel.webp"
                                            data-original="../../images/product-02.webp" class="lazy-web"
                                            type="image/webp">
                                    <source srcset="../../images/pixel.png" data-original="../../images/product-02.png"
                                            class="lazy-web" type="image/png">
                                    <img src="../../images/pixel.png" data-original="../../images/product-02.png"
                                         class="lazy" alt="">
                                </picture>
                            </div>
                            <a href="javascript:void(0)" class="btn">Kontaktieren Sie uns</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-shipping">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="product-shipping__cards">
                        <span>Versandtasche Anfordern</span>
                        <small>So erhalten Sie Ihre individuelle Offerte</small>
                        <div class="card-items">
                            <div class="card-item">
                                <span class="card-item__num">1.</span>
                                <p class="card-item__text">Einfach das Formular ausfüllen und Versandtasche + Begleitschreiben erhalten</p>
                                <div class="card-item__pic">

                                </div>
                            </div>
                            <div class="card-item">
                                <span class="card-item__num">2.</span>
                                <p class="card-item__text">Wertgegenstände + Begleitschreiben kostenfrei versenden</p>
                                <div class="card-item__pic">

                                </div>
                            </div>
                            <div class="card-item">
                                <span class="card-item__num">3.</span>
                                <p class="card-item__text">Zu Ihrer Sicherheit: Videoüberwachte Wertprüfung</p>
                                <div class="card-item__pic">

                                </div>
                            </div>
                            <div class="card-item">
                                <span class="card-item__num">4.</span>
                                <p class="card-item__text">Schätzung annehmen und Geld erhalten</p>
                                <div class="card-item__pic">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-shipping__form">
                        <div class="order-left">
                            <div class="order-form"><div class="order-title">
                                <span>Kostenlos Versandtasche bestellen</span>
                            </div>
                                <form class="main-form ajax_form clear-styles" data-error-title="Fehler senden!" data-error-message="Versuchen Sie es nach einer Weile erneut." data-success-title="Danke für die Nachricht." data-success-message="Unser Manager wird sich bald mit Ihnen in Verbindung setzen.">
                                    <div class="form-row two-inputs lg">
                                        <div class="input-wrapper">
                                            <input class="input" type="text" name="name" data-title="Name" data-validate-required="Erforderlich!">
                                            <label>Name <span>*</span></label>
                                        </div>
                                        <div class="input-wrapper">
                                            <input class="input" type="text" name="vorname" data-title="Vorname" data-validate-required="Erforderlich!">
                                            <label>Vorname <span>*</span></label>
                                        </div>
                                    </div>
                                    <div class="form-row two-inputs sm">
                                        <div class="input-wrapper">
                                            <input class="input" type="text" name="strasse" data-title="Strasse" data-validate-required="Erforderlich!">
                                            <label>Strasse <span>*</span></label>
                                        </div>
                                        <div class="input-wrapper">
                                            <input class="input" type="text" name="nr" data-title="Nr." data-validate-required="Erforderlich!">
                                            <label>Nr.<span>*</span></label>
                                        </div>
                                    </div>
                                    <div class="form-row three-inputs">
                                        <div class="input-wrapper">
                                            <input class="input" type="text" name="plz" data-title="PLZ" data-validate-required="Erforderlich!">
                                            <label>PLZ <span>*</span></label>
                                        </div>
                                        <div class="input-wrapper">
                                            <input class="input" type="text" name="stadt" data-title="Stadt" data-validate-required="Erforderlich!">
                                            <label>Stadt <span>*</span></label>
                                        </div>
                                        <div class="input-wrapper">
                                            <input class="input" type="text" name="telefon" data-title="Telefon">
                                            <label>Telefon</label>
                                        </div>
                                    </div>
                                    <div class="form-row two-inputs lg">
                                        <div class="input-wrapper">
                                            <input class="input" type="text" name="email" data-title="E-mail" data-validate-required="Erforderlich!">
                                            <label>E-mail <span>*</span></label>
                                        </div>
                                        <div class="input-wrapper select-wrapper required-select">
                                            <input name="boxgrösse" data-title="Boxgrösse" data-validate-required="Erforderlich!" hidden>
                                            <select class="select">
                                                <option selected disabled>Boxgrösse</option>
                                                <option value="bis 2kg">bis 2kg</option>
                                                <option value="bis 10kg">bis 10kg</option>
                                                <option value="bis 30kg">bis 30kg</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="input-wrapper">
                                            <textarea class="textarea" name="anmerkungen" data-title="Anmerkungen" placeholder="Anmerkungen"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-footer">
                                        <div class="checkbox-wrapper">
                                            <input type="checkbox" id="agreement02" name="agreement" data-title="Agreement" value="">
                                            <label for="agreement02">Hiermit akzeptiere ich die Verarbeitung meiner Daten im Sinne der <a href="javascript:void(0)">Datenschutzerklärung.</a></label>
                                        </div>
                                        <button type="submit" class="btn" data-sending="Senden..." data-error="Fehler :(" data-sent="Gesendet" disabled>Versandtasche bestellen</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<!--  ${require('../parts/footer.html')}-->

</body>

</html>
