// Переменные для приложения и всех модулей

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$main: #CC950C;
$accent: #EDD18F;
$border: #B7A882;
$light: #00A5F8;
$text: #464646;
$default: "FiraSansCondensed", -apple-system, BlinkMacSystemFont, sans-serif;
$title: "DMSerifDisplay", -apple-system, BlinkMacSystemFont, sans-serif;
$fira: "FiraSans", -apple-system, BlinkMacSystemFont, sans-serif;

//<span class="page__title">Datenschutz auf einen blick</span>
//<p><a href="javascript:void(0)">___</a></p>
//<p>__</p>
