<header class="header">
  <div class="header-main">
      <img src="../../images/header-bg.png" class="header-bg lazy" alt="">
    <div class="container">
        <a href="javascript:void(0)" class="header-logo">
            <img src="../../images/logo.png" class="lazy" alt="">
        </a>
        <div class="header-text">
            <span>Schweizer Edelmetallhandel</span>
            <div>
                <span>Alte Haslen Str. 10, 9053 Teufen</span>
                <span class="accent"></span>
                <a href="javascript:void(0)">071-5434294</a>
            </div>
        </div>
    </div>
  </div>
  <div class="header-bot">
    <div class="container">
        <ul>
            <li><a href="javascript:void(0)">ANKAUF</a></li>
            <li><a href="javascript:void(0)">ANLAGEGOLD</a></li>
            <li><a href="javascript:void(0)">VERSANDTASCHE</a></li>
            <li><a href="javascript:void(0)">ÜBER UNS</a></li>
            <li><a href="javascript:void(0)">KONTAKT</a></li>
        </ul>
    </div>
  </div>
</header>
<div class="header-spacer"></div>
<div class="mobile-menu__wrapper">
</div>
